/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 5, 2015, 3:33:40 PM
    Author     : buddhika
*/

.alignTop td{
    vertical-align: top;
}

.buttonWithMarginOnLeft{
    margin-left: 100px;
}

.displayNone{
    display: none;
}


table.vrf{
    border: 1px solid black;
    table-layout: fixed;
    vertical-align: top;
}

table.vrf tr{
    vertical-align: top;
}

table.vrf td{
    border: 1px solid black;
    overflow: hidden;
    width: 100px;
    vertical-align: top;
    padding: 2px;
    margin: 1px;
    
}


.noBorderGrid tr , .noBorderGrid table tbody td , .noBorderGrid table tbody tr td , .noBorderGrid table tbody tr  , noBorderGrid td , noBorderGrid tr td, noBorderGrid tbody , noBorderGrid tbody tr, noBorderGrid tbody tr td ,noBorderGrid tbody td , noBorderGrid tbody td,  noBorderGrid tfoot td{
    border: 0px none!important;
    border-width: 0px;
    border-style: dashed!important;
    margin: 1px !Important;
    padding: 1px!important; 
}

.linkButton
{
    margin: 2px;
    padding: 2px;
    width: 300px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
}