/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 5, 2015, 3:33:40 PM
    Author     : buddhika
*/

.alignTop td{
    vertical-align: top;
}

.buttonWithMarginOnLeft{
    margin-left: 100px;
}

.displayNone{
    display: none;
}


table.vrf{
    border: 1px solid black;
    table-layout: fixed;
    vertical-align: top;
}

table.vrf tr{
    vertical-align: top;
}

table.vrf td{
    border: 1px solid black;
    overflow: hidden;
    width: 100px;
    vertical-align: top;
    padding: 2px;
    margin: 1px;
    
}